{% extends 'base.html' %}
{% load compressed %}

{% block extra_css %}
{% compressed_css 'nv.d3' %}
{% compressed_css 'sensor' %}
{% compressed_css 'chart' %}
{% endblock%}

{% block content %}

<h1>传感器：{{sensor_id}}</h1>

<div id="download-area"></div> 

<!-- 这里图表显示区域 -->
<section>
  <!-- 这里是一小时趋势图显示区域 -->
  <div id="realtime-chart"></div>
</section>
{% endblock %}

{% block extra_js %}
{% compressed_js 'd3' %}
{% compressed_js 'nv.d3' %}

{% include "chart-script.html" %}
{% compressed_js 'data' %}

{% compressed_js 'sensor_item' %}
{% endblock %}
