{% extends 'base.html' %}
{% load compressed %}

{% block extra_css %}
{% compressed_css 'account' %}
{% endblock%}

{% block content %}

<div id="user-manage">

  <ul id="manage-tab" class="nav nav-tabs">
    <li class="active"><a href="#add-user">增加用户</a></li>
    <li><a href="#user-list">用户列表</a></li>
  </ul>

  <div id="context" class="tab-content">

    <div id="add-user" class="tab-pane active">
      <form method="POST" action="{% url 'signup' %}">{% csrf_token %}
        {{ creation_form.as_p }}  
        <input class="btn btn-success" type="submit" name="" value="创建" />
      </form>
    </div>

    <div id="user-list" class="tab-pane">
      <div id="{{user.name}}-profile" class="profile">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>用户名</th>
              <th>电子邮件</th>
              <th>手机号码</th>
              <th>所在组</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr id="user-{{user.id}}">
              <td></td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>
                {% for group in user.groups.values %}
                {{group.name}}
                {% endfor %}
              </td>
              <td>
                <button type="button" class="close" action="remove">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 
    </div>

  </div> 

</div> 


<script type="text/javascript">
$(function() {

    $('#manage-tab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    // 表格增加行号
    function renderNo() {
        $('#user-list table tbody')
            .children().each(function(index, elt){
                $('td:first-child', $(elt)).text(index+1)
            })
    }
    renderNo()

    // 删除用户
    function ajaxDeleteUser() {
        uid = $(this).closest('tr').attr('id').split('-')[1]
        $.ajax({
            url: "/account/delete/",
            type: "DELETE",
            data: {uid: uid},
            success: callback,
            fail: function(){
                alert ("删除用户失败，请检查网络连接。")
            }
        })
    }
    function callback(data) {
        if (data.code === 0) {
            removeUser(data.body)
        } else {
            alert(data.body)
        }
    }
    function removeUser(uid) {
        $('#user-'+uid).animate({ 
            opacity: 0.25
        }, 600, function(){
            $(this).remove()
            renderNo()
        })
    }
    $('#user-list').on('click', 'button[action=remove]', ajaxDeleteUser)
    
})
</script>

{% endblock %}
