{% load staticfiles %}
{% load compressed %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>蘑菇监控系统控制平台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% compressed_css 'normalize' %}
    {% compressed_css 'main' %}
    {% compressed_css 'bootstrap' %}
    
    {% compressed_js 'modernizr' %}

  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <!-- <div id="smart-table" class="table"></div>  -->
    <script id="table-template" type="text/x-handlebars-template">
      {% verbatim %} 
      <nav for="table1" class="table menu">
        <ul>
          <li action="add">增加</li>
        </ul>
      </nav> 
      <table id="table1" class="table">
        <thead>
          <tr>
            <th><input type="checkbox" name="" value="" /></th>
            {{#each thead}}
            <th>{{name}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody class="form-inline">
          {{#each tbody}}
          <tr index="{{@index}}">
            <td><input type="checkbox" /></td>
            {{#each this}}
            <td>
              <p class="hide" key="{{this.key}}">{{this.value}}</p>
              <input type="{{this.type}}" key="{{this.key}}" value="{{this.value}}" />
            </td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
      <button role="add-row" btn="btn btn-success">增加</button>
      {% endverbatim %} 
    </script>

    <!-- 提示层 Echo Layer -->
    <ul id="echo-list"></ul>

    <!-- 登录界面 Login -->
    <form id="login" class="form-horizontal" hide>
      {% csrf_token %}
      <div class="form-group">
        <!-- <label for="inputEmail3" class="col-sm-2 control-label">Email</label> -->
        <div class="col-sm-10">
          <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="电子邮件"> -->
          <input type="text" class="form-control" id="inputText3" placeholder="用户名" name="username">
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="inputPassword3" class="col-sm-2 control-label">密码</label> -->
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="密码" name="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="remember"> 记住我两周
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">登录</button>
        </div>
      </div>
    </form> 

    <!-- HTML Template -->
    <!-- -------------------------
         Test
      ---------------------------- -->
    <script id="entry-template" type="text/x-handlebars-template">
      {% verbatim %} 
      <div class="entry">
        <h1>{{ title }}</h1>
        <div class="body">
          {{ body }}
        </div>
      </div>
      {% endverbatim %} 
    </script>

    <!-- sidebar -->
    <script id="sidebar-template" type="text/x-handlebars-template">
      {% verbatim %} 
      <div id="basic">
        <div id="gavatar">
          <img src="{{gavatar}}" class="" alt="gavatar" />
        </div>
        <div id="username">{{ username }}</div> 
      </div> 
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav sidenav">
          {{#each menu}}
          <li url="{{url}}"><a href="{{url}}">{{name}}</a></li>
          {{/each}}
        </ul>
      </nav>
      <footer>
        <p>Copyright: {{copyright}}</p>
        <p>Version: {{version}}</p>
      </footer>
      {% endverbatim %} 
    </script>

    <!-- room -->
    <script id="room-template" type="text/x-handlebars-template">
      {% verbatim %} 
      {{! 房间的模板，用于放各个房间的部件}}
      <li id="room-{{roomId}}" class="room"></li>
      {% endverbatim %} 
    </script>

    <!-- room thumbnail -->
    <script id="room-thumbnail-template" type="text/x-handlebars-template">
      {% verbatim %} 
      <div id="room-{{roomId}}-thumbnail" class="room-thumbnail">
        <div class="up">
          <div id="room-{{roomId}}-basic" class="card first-card">
            <label id="room-{{roomId}}-roomName" class="lt room-name" for="room-{{roomId}}-roomName">{{roomName}}</label>
            <input id="room-{{roomId}}-roomName" class="lt room-name hide" type="text" name="roomName" value="{{roomName}}" />
            <label id="plant-{{plantId}}-plantName" class="rb plant-name" for="room-{{roomId}}-plantName">{{plantName}}</label>
            <input id="room-{{roomId}}-plantName" class="rb plant-name hide" type="text" name="plantName" value="{{plantName}}" />
            <div class="dividing-line"></div> 
          </div> 
          <div id="room-{{roomId}}-time" class="card datetime">
            {{datetime}}
          </div> 
          {{#each sensors}}
          <div id="room-{{../roomId}}-{{@key}}" class="card">
            <p>{{this}}</p>
          </div>
          {{/each}}
        </div>
        <div class="down">
          <nav id="room-{{roomId}}-menu" class="room-menu">
            <ul>
              {{#each menu}}
              <li>
                <a href="#{{@key}}/room/{{../roomId}}/">
                  <span class="glyphicon {{this}}"></span>
                </a>
              </li>
              {{/each}}
            </ul>
          </nav> 
          <div id="room-{{roomId}}-light" class="room-light" brightness="{{brightness}}"></div> 
        </div> 
        <!-- 查询/下载组件 -->
        <div class="room-search">
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="监控对象名称" name="sensor">
            </div>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="起始时间" name="start-date">
            </div>
            <div class="form-group">
              <input type="date" class="form-control" placeholder="终止时间" name="end-date">
            </div>
            <button type="submit" class="btn btn-primary" name="search">查询</button>
          </form> 
        </div>
        <!-- 查询组件结束 -->
      </div> 
      {% endverbatim %} 
    </script>

    <script id="room-env-template" type="text/x-handlebars-template">
      {% verbatim %} 
      <div id="room-{{roomId}}-env" class="room-env">
        <section>
          <h3>今日数据</h3>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#room-{{roomId}}-chart" data-toggle="tab">图表</a></li>
            <li><a href="#room-{{roomId}}-table" data-toggle="tab">表格</a></li>
          </ul>
          <div class="tab-content">

            <div class="tab-pane active" id="room-{{roomId}}-chart">这里是图表
            {{#each sensors}}
              <div id="room-{{roomId}}-{{sensorType}}-chart" class="chart">{{cnName}}</div> 
            {{/each}}
            </div>

            <!-- 一下为表格显示数据 -->
            <div class="tab-pane fade" id="room-{{roomId}}-table">
            {{#each sensors}}
            <table id="room-{{roomId}}-{{sensorType}}-table" class="table table-striped">
              <caption>{{cnName}}</caption>
              <thead>
                <tr>
                  <th>采集时间</th>
                  <th>采集值</th>
                  <th>传感器编号</th>
                  <th>传感器位置</th>
                </tr>
              </thead>
              <tbody>
                {{#each data}} {{! this is the set of sensors capture value}}
                {{#each value}}
                <tr>
                  {{#each this}}
                  <td>{{this}}</td>
                  {{/each}}
                  <td>{{../sensorId}}</td>
                  <td>{{../position}}</td>
                </tr>
                {{/each}}
                {{/each}}
              </tbody>
            </table>
            {{/each}}
            </div>

          </div>
        </section>
      </div> 
      {% endverbatim %} 
    </script>

    <script id="room-policy-viewer-template" type="text/x-handlebars-template">
      {% verbatim %} 
      <div id="room-{{roomId}}-policy-viewer" class="room-policy viewer">
        <h3>任务进行时</h3>
        <div class="timeline"></div>
        <table class="table">
          <thead>
            <tr>
              <th colspan=2>时间</th>
              <th colspan=2>二氧化碳范围</th>
              <th colspan=2>温度范围</th>
              <th colspan=2>湿度范围</th>
              <th>光色</th>
            </tr>
          </thead>
          <tbody>
            {{#each policy}}
            <tr>
              <td>{{date}}</td>
              <td>{{hour}}</td>
              {{#each co2}}
              <td>{{this}}</td>
              {{/each}}
              {{#each temperature}}
              <td>{{this}}</td>
              {{/each}}
              {{#each humidity}}
              <td>{{this}}</td>
              {{/each}}
              <td brightness="{{brightness}}">{{brightness}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div> 
      {% endverbatim %} 
    </script>


    <script id="policy-list-template" type="text/x-handlebars-template">
      {% verbatim %} 
      {{#each list}}
      <li policy-id="{{policyId}}"><a href="#policy/{{policyId}}/">{{description}}</a></li>
      {{/each}}
      {% endverbatim %} 
    </script>

    <script id="policy-setter-template" type="text/x-handlebars-template">
      {% verbatim %} 
      <div id="room-{{roomId}}-policy-setter" class="room-policy setter">
        <h3>设置任务</h3>
        <!-- policy list展示区 -->
        <nav>
          <h4>模式载入（会覆盖当前的设置，请小心）：</h4>
          <ul class="model-list">
          </ul> 
        </nav>
        <!-- policy设置区 -->
        <table class="table">
          <thead>
            <tr>
              <th>间隔天数</th>
              <th>间隔时间</th>
              <th colspan=2>二氧化碳范围</th>
              <th colspan=2>温度范围</th>
              <th colspan=2>湿度范围</th>
              <th>光照</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="form-inline">
            {{ tbody }}
          </tbody>
        </table>
        <form class="form-horizontal" role="form">
          <input type="text" class="form-control" name="description" placeholder="策略描述"/>
          <input type="date" class="form-control" name="startDate" />
          <input type="time" class="form-control" name="startTime" />
          <button type="submit" class="btn btn-success" name="submit">提交</button>
        </form> 
      </div> 
      {% endverbatim %} 
    </script>
    <script id="policy-input-template" type="text/x-handlebars-template">
      {% verbatim %}
      <tr index="{{index}}">
        <td>
          <input type="number" name="date" class placeholder="间隔天数" value={{date}}> 
        </td>
        <td>
          <input type="number" name="time" class placeholder="间隔小时" value={{hour}}> 
        </td>
        <td>
          <input type="number" name="co2-0" class placeholder="下限" value={{c0}}> 
        </td>
        <td>
          <input type="number" name="co2-1" class placeholder="上限" value={{c1}}> 
        </td>
        <td>
          <input type="number" name="temperature-0" class placeholder="下限" value={{t0}}> 
        </td>
        <td>
          <input type="number" name="temperature-1" class placeholder="上限" value={{t1}}> 
        </td>
        <td>
          <input type="number" name="humidity-0" class placeholder="下限" value={{h0}}> 
        </td>
        <td>
          <input type="number" name="humidity-1" class placeholder="上限" value={{h1}}> 
        </td>
        {{#with light}}
        <td>
          <select name="brightness">
            <option value="blue" {{blue}}>蓝光</option>
            <option value="white" {{white}}>白光</option>
            <option value="yellow" {{yellow}}>黄光</option>
          </select>
        </td>
        {{/with}}
        <td>
          <!-- <div class="alert alert-dismissable"> -->
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <!-- </div> -->
        </td>
      </tr>
      {% endverbatim%}
    </script>

    <script id="room-controller-template" type="text/x-handlebars-template">
      {% verbatim %} 
      <div id="room-{{roomId}}-controller-pane" class="room-controller-pane">
        <h3>设备控制面板</h3>
        <div class="switcher-list">
          {{#each context}}
          <div id="controller-{{controllerId}}">
            <!-- checkbox有一个checked状态，无法在这里直接表现，放入代码 -->
            {{controller}}
          </div> 
          {{/each}}
        </div> 
        <form name="freg-adjust" role="form" class="form-inline">
          <div class="form-group">
            <label for="id5" class="sr-only">采集频率</label>
            <input type="number" class="form-control" name="freg-adjust" id="id5" placeholder="采集频率"/>
          </div>
          <button name="freg-adjust" class="btn btn-success">设置</button>
        </form> 
      </div>
      {% endverbatim %} 
    </script>

    <script id="setting-log-template" type="text/x-handlebars-template">
      {% verbatim %} 
      <div id="config" class="config">
        <form>
          <select id="config-type">
            <option value="ERROR">错误</option>
            <option value="COMMUNICATION">通信</option>
            <option value="DEBUG">调试</option>
            <option value="WORK">工作</option>
          </select>
          <button type="submit">提交</button>
        </form>
      </div> 
      {% endverbatim %} 
    </script>
    <!-- 模板结束部分 -->

    <!-- 网页主体部分 -->
    <div class="wrapper row">

      <div id="sidebar" class="col-md-2" hide></div> 

      <div id="content" class="col-md-10">
        <section>
          <nav id="room-cards">
            <ul id="room-list">
            </ul>
          </nav> 
        </section>

        <section>
          <div id="setting-panel" class="setting"></div> 
        </section>
      </div> 

    </div> 
    <!-- 网页主体结束部分 -->

    <!-- 加载JavaScript -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="{% static 'vendor/js/jquery-1.10.2.min.js' %}"><\/script>')</script> -->
    <!-- 基础库 -->
    {% compressed_js 'jquery' %}
    {% compressed_js 'handlebars' %}
    {% compressed_js 'underscore' %}
    {% compressed_js 'bootstrap' %}
    <!-- 核心 -->
    {% compressed_js 'plugins' %}
    {% compressed_js 'components' %}
    {% compressed_js 'main' %}
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- 暂时不需要 -->
    <!-- <script> -->
    <!--     (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]= -->
    <!--     function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date; -->
    <!--     e=o.createElement(i);r=o.getElementsByTagName(i)[0]; -->
    <!--     e.src='//www.google-analytics.com/analytics.js'; -->
    <!--     r.parentNode.insertBefore(e,r)}(window,document,'script','ga')); -->
    <!--     ga('create','UA-XXXXX-X');ga('send','pageview'); -->
    <!-- </script> -->
  </body>
</html>
