<!-- 房间meta元素模板 -->
<script id="room-meta-template" type="text/x-handlebars-template">
  {% verbatim %} 
  <!-- <h3>房间{{roomId}}基本信息</h3> -->
  <p id="room-id-{{roomId}}">
    <span>房间名称</span>
    <a href="/room/{{roomId}}"><strong>{{roomName}}</strong></a>
  </p>
  <p id="plant-id-{{plantId}}">
    <span>植物名称</span>
    <!-- <a href="/plant/{{plantId}}"><strong>{{plantName}}</strong></a> -->
    <strong>{{plantName}}</strong>
  </p>
  {% endverbatim %} 
</script>

<!-- 房间传感器列表模板 -->
<script id="room-sensors-list-template" type="text/x-handlebars-template">
  {% verbatim %} 
  {{#each sensors}}
  <div class="{{@key}}">
    <p>{{cn-name}}</p>
    {{#each this}}
    <ul class="pagination">
      <li><a href="/sensor/{{this}}">{{this}}</a></li>
    </ul>
    {{/each}}
  </div> 
  {{/each}}
  {% endverbatim %} 
</script>

<!-- 房间整体情况（暂时是平均值） -->
<script id="room-env-average-template" type="text/x-handlebars-template">
  {% verbatim %} 
  <div class="brightness lamp {{brightness}}">
    <strong  brightness="{{brightness}}">灯管颜色:{{brightness}}</strong>
  </div> 
  <div class="average">
    <div class="lastest-time">{{time}}</div> 
    {{#each average}}
    <p type="{{@key}}">
      <!-- <span>平均温度</span> -->
      <strong>{{this}}</strong>
    </p>
    {{/each}}
  </div> 
  {% endverbatim %} 
</script>

<!-- 展示正在执行的策略的模板 -->
<script id="room-policy-now-template" type="text/x-handlebars-template">
  {% verbatim %} 
  <div class="policy">
    <h3>养殖策略</h3>
    <div id="create-room-{{roomId}}-policy">
      <button class="btn btn-success" name="create-new-policy" data-toggle="modal" data-target="#create-new-policy-model">
        创建新的养殖策略
      </button>
    </div>
    <!--<p><a href="/policy/now/{{nowPolicy}}/">正在执行的策略</a></p>-->
    <div id="show-room-{{roomId}}-now-policy"></div> 
  </div> 
  {% endverbatim %} 
</script>

<script id="room-controller-list-template" type="text/x-handlebars-template">
  {% verbatim %} 
  <div class="controller list">
    <div id="room-{{roomId}}-controller-list" class="some_class"></div> 
  </div> 
  {% endverbatim %} 
</script>

<script id="room-template" type="text/x-handlebars-template">
  {% verbatim %} 
  <div id="room-{{roomId}}" class="room" rid="{{roomId}}">

    <div class="meta-info">
      <p id="room-id-{{roomId}}">
        <span>房间名称</span>
        <a href="/room/{{roomId}}"><strong>{{roomName}}</strong></a>
        <!-- <input type="text" name="rname" value="{{roomName}}" class="hide"/> -->
        <!-- <button type="button" class="close" action="edit-rname"> -->
        <!--   <i class="glyphicon glyphicon-pencil"></i> -->
        <!-- </button> -->
      </p>
      <p id="plant-id-{{plantId}}">
        <span>植物名称</span>
        <!-- <a href="/plant/{{plantId}}"><strong>{{plantName}}</strong></a> -->
        <strong>{{plantName}}</strong>
        <!-- <input type="text" name="rname" value="{{roomName}}" class="hide"/> -->
        <!-- <button type="button" class="close" action="edit-pname"> -->
        <!--   <i class="glyphicon glyphicon-pencil"></i> -->
        <!-- </button> -->
       </p>
    </div>

    <div class="widget">
      <!-- <a href="#/{{roomId}}/sensor/list"> -->
      <!--   <i class="glyphicon glyphicon-cog">传感器列表</i> -->
      <!-- </a> -->
      <a href="/policy/create/?roomId={{roomId}}">
        <i class="glyphicon glyphicon-th-list">增加养殖策略</i>
      </a>
      <a href="/policy/now/room/{{roomId}}/" pid="{{nowPolicy}}">
        <i class="glyphicon glyphicon-tasks">正在执行任务</i>
      </a>
      <a href="/controller/list/room/{{roomId}}/">
        <i class="glyphicon glyphicon-cog">设备控制面板</i>
      </a>
    </div> 
 
    <div class="latest-data"> </div> 

    <div class="widget-panel">
      <button type="button" class="close hide">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <div class="panel panel-default" name="sensor-list">
        <div class="sensor-list panel-body">
          {{#each sensors}}
          <div class="{{@key}}">
            <p>{{cn-name}}</p>
            {{#each this}}
            <ul class="pagination">
              <li><a href="/sensor/{{this}}">{{this}}</a></li>
            </ul>
            {{/each}}
          </div> 
          {{/each}}
        </div> <!-- sensor list -->
      </div>   <!-- sensor list panel -->
      <div class="panel panel-default" name="policy-add"></div> 
      <div class="panel panel-default" name="policy-now"></div> 
      <div class="panel panel-default" name="controller-list"></div> 
    </div>
    
    <div class="image">
      <img src="/static/img/photo.png" class="" alt="" />
    </div> 

  </div> 

  {% endverbatim %} 
</script>

<script id="room-latest-data-template" type="text/x-handlebars-template">
  {% verbatim %} 

  <div class="time">{{sense_time}}</div> 

  {{#each sense_data}}
  <div class="sensor"  type="{{@key}}">
    <p>{{cn-name}}</p>
    {{#each this}}
    <div class="data" sid="{{id}}"><strong><a href="/sensor/{{id}}/">{{data}}</a></strong></div> 
    {{/each}}
  </div> 
  {{/each}}

  {% endverbatim %} 
</script>

<script id="room-average-template" type="text/x-handlebars-template">
  {% verbatim %} 
  {{#each average}}
  <p type="{{@key}}">
    <!-- <span>平均温度</span> -->
    <strong>{{this}}</strong>
  </p>
  {{/each}}
  {% endverbatim %} 
</script>
<!-- 房间外层模板 -->
<script id="room-list-template" type="text/x-handlebars-template">
  {% verbatim %} 
  <ul class="room list">
  {{! 房间的模板，用于放各个房间的部件}}
  {{#each context}}
  {{room-list}}  {{! 这里加载各个部件 }}
  {{/each}}
  </ul>
  {% endverbatim %} 
</script>
<!-- 这里是房间的导航 -->
<script id="room-nav-template" type="text/x-handlebars-template">
  {% verbatim %}
  <ul class="room-nav">
    {{#each rooms}}
    <li class="list-group-item"><a href="room-{{roomId}}">房间{{roomName}}</a></li>
    {{/each}}
  </ul>
  {% endverbatim %} 
</script>

