{% extends 'base.html' %}
{% load compressed %}

{% block extra_css %}
{% compressed_css 'room' %}
{% compressed_css 'chart' %}
{% endblock%}

<!-- 绘制图表 -->
{% block content %}
<!-- <h1>房间{{room_id}}</h1> -->
<div class="row">
  <!-- <p>这里包含房间的基本参数</p> -->
  <div class="col-md-4">
    <div id="room-{{room_id}}"></div> 
  </div> 
  
  <div class="col-md-8">
    {% block widget%}
    <div id="download-area">
      <form method="get" id="download-form" action="/data/download/" role="form" class="form-inline">
        <div class="form-group">
          <label class="" for="">房间{{room_id}}过往数据下载</label>
        </div>
        <input type="hidden" name="roomId" value="{{room_id}}">
        <br />
        <div class="form-group">
          <label class="" for="">起始时间</label>
          <input type="date" class="form-control datepicker" id="datepicker0" placeholder="起始时间" name="startTime">
        </div>
        <div class="form-group">
          <label class="" for="">终止时间</label>
          <input type="date" class="form-control datepicker" id="datepicker1" placeholder="终止时间" name="endTime">
        </div>
        <button type="submit" class="btn btn-success">下载</button>
      </form>  
    </div> 
    <div id="charts-area" class="chart-list">
      <section>
        <div id="realtime-chart"></div> 
      </section>
      <!-- <section> -->
      <!--   <div id="search-chart-area" class="search chart"></div>  -->
      <!-- </section> -->
    </div> 
    {% endblock %}
  </div> 
  
</div> <!-- row end -->

<!-- <\!-- 控制器列表 -\-> -->
<!-- <div id="controller-list" class="controller list"></div>  -->

<!-- 这里图表显示区域 -->
<!-- <section> -->
<!--   <div id="chart" class="chart"> -->
<!--     <h1>图标测试1</h1> -->
<!--     <svg></svg> -->
<!--   </div>  -->
  
<!--   <div id="realtime-chart-1" class="chart"> -->
<!--     <h1>实时更新图</h1> -->
<!--     <svg></svg> -->
<!--   </div>  -->

<!--   <div id="line-with-focus-chart" class="chart"> -->
<!--     <h1>双层图测试</h1> -->
<!--     <svg></svg> -->
<!--   </div>  -->
<!-- </section> -->

<!-- <div id="policy-list"></div> -->

<!-- 这里是弹出层 modal -->
<div class="modal fade" id="create-new-policy-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">创建新的养殖策略</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <!-- <button type="button" class="btn btn-primary">提交</button> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

{% compressed_css 'picker' %}
{% compressed_js 'picker' %}

{% compressed_js 'd3' %}
{% compressed_css 'nv.d3' %}
{% compressed_js 'nv.d3' %}

<!-- 策略处理模块 -->
{% include "policy-script.html" %}
{% compressed_js 'policy' %}

<!-- 房间处理模块 -->
{% include "room-script.html" %}
{% compressed_js 'room' %}

<!--数据处理模块-->
{% compressed_js 'data' %}
<!-- 图表处理模块 -->
{% include "chart-script.html" %}

{% compressed_js 'room_item' %}

{% endblock %}
