{% extends 'base.html' %}
{% block content %}
{% if not user.is_authenticated %}
<div id="login">
  <form id="login" class="login" action="/account/login/" method="post">{% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors|striptags }}
    </div>
    {% endif %}

    <!-- username -->
    {% if not form.username.errors %}
    <div class="form-group">
      <label for="username">登录名</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="登录名" autocomplete="on">
    </div>
    {% else %}
    <div class="form-group has-error">
      {% for error in form.username.errors %}
      <label class="control-label" for="id_username">{{ error }}</label>
      {% endfor %}
      <input id="id_username" name="username" type="text" class="form-control" placeholder="用户名" autofocus>
    </div>
    {% endif %}

    <!-- password -->
    {% if not form.password.errors %}
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="密码">
    </div>
    {% else %}
    <div class="form-group has-error">
      {% for error in form.password.errors %}
      <label class="control-label" for="id_password">{{ error }}</label>
      {% endfor %}
      <input id="id_password" name="password" type="password" class="form-control" placeholder="密码">
    </div>
    {% endif %}

    <div class="checkbox">
      <label>
        <input type="checkbox"> 两周内在这台计算机上免登录
      </label>
    </div>
    <input type="hide" name="next" value="{% url 'home' %}" style="display: none"/>
    <button type="submit" class="btn btn-success">登录</button>
    <!-- <label>用户名</label> -->
    <!-- <input class="form-control" type="text" name="username" value="" /> -->
    <!-- <label>密码</label> -->
    <!-- <input class="form-control" type="password" name="password" value="" /> -->
    <!-- <button class="btn btn-success">登录</button> -->
  </form>
</div> 
{% else %}
<div>
  <p>你已经登录了</p>
</div> 
{% endif %}

<script type="text/javascript">
$(function() {
  $('body').css("background-image", "url(/static/img/login-bg.jpg)")
})
</script>
{% endblock %}
<!-- <form method="POST" id="" action=""> -->
<!--   {% csrf_token %} -->
<!--   {{ form.as_p }}   -->
<!--   <input type="submit" name="" value="登录" /> -->
<!-- </form> -->

